# Python
__pycache__/
*.py[cod]
*.egg-info/
.build/
dist/
build/

# Envs
.venv/
.uv/
.python-version

# Tools & caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
